{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">DEPARTAMENT</th>
      <th scope="col">NUMBER OF EMPLOYEES</th>
      <th scope="col">AVERAGE SALARY</th>
    </tr>
  </thead>
  <tbody>
    {% for department in department_list %}
    <tr>
      <td>{{ department.names }}</td>
      <td><a href="/employees/department/{{ department.id}}">{{ department.number_employees}}</a></td>
      <td>{{ department.average_salary}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary" href="department/create" role="button">CREATE</a>
</div>
{% endblock %}