{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">DEPARTMENT</th>
      <th scope="col">NUMBER OF EMPLOYEES</th>
      <th scope="col">AVERAGE SALARY</th>
    </tr>
  </thead>
  <tbody>
    {% for department in department_list %}
    <tr>
      <td><a href="{{ url_for('department_read', department_id=department.id) }}">{{ department.names }}</a></td>
      <td><a href="{{ url_for('employees', department_id=department.id) }}">{{ department.number_employees}}</a></td>
      <td>{{ department.average_salary}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary" href="{{ url_for('department_create') }}" role="button">CREATE</a>
</div>
<br/>
{% endblock %}