{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">DEPARTAMENT</th>
      <th scope="col">NUMBER OF EMPLOYEES</th>
      <th scope="col">AVERAGE SALARY</th>
    </tr>
  </thead>
  <tbody>
    {% for depart in departs %}
    <tr>
      <td>{{ depart.names }}</td>
      <td><a href="/employees/department/{{ depart.id}}">{{ depart.number_employees}}</a></td>
      <td>{{ depart.average_salary}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}