{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<h4>Search for an employee by date of birth</h4>
<form method="post">
  {{ form.hidden_tag() }}
    <p class="form-control" > {{ form.start_date.label()}} {{ form.start_date() }}
      {{ form.stop_date.label()}} {{ form.stop_date() }} {{form.submit() }}</p>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">LAST NAME</th>
      <th scope="col">FIRST NAME</th>
      <th scope="col">TAX NUMBER</th>
      <th scope="col">DATE OF BIRTH</th>
      <th scope="col">SALARY</th>
      <th scope="col">DEPARTMENT</th>
    </tr>
  </thead>
  <tbody>
  {% for employee in employees_list %}
    <tr>
      <td><a href="{{ url_for('employee_read', _id=employee.id) }}">{{ employee.last_name }}</a></td>
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.tax_number }}</td>
      <td>{{ employee.date_of_birth}}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.department.names }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
  <a class="btn btn-primary" href={{url_for('employee_create')}} role="button">CREATE</a>
</div>
<br/>
{% endblock %}