{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">LAST NAME</th>
      <th scope="col">FIRST NAME</th>
      <th scope="col">TAX NUMBER</th>
      <th scope="col">DATE OF BIRTH</th>
      <th scope="col">SALARY</th>
      <th scope="col">DEPARTMENT</th>
    </tr>
  </thead>
  <tbody>
  {% for employee in employees_list %}
    <tr>
      <td>{{ employee.last_name }}</td>
      <td>{{ employee.first_name }}</td>
      <td>{{ employee.tax_number }}</td>
      <td>{{ employee.date_of_birth}}</td>
      <td>{{ employee.salary }}</td>
      <td>{{ employee.department.names }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}