{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">department name</th>
      <th scope="col">number of employees</th>
      <th scope="col">average salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Energy</td>
      <td>15</td>
      <td>10000</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Equipment</td>
      <td>20</td>
      <td>20000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Fin</td>
      <td>3</td>
      <td>5000</td>
    </tr>
  </tbody>
</table>
{% endblock %}