{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Last name</th>
      <th scope="col">Firs name</th>
      <th scope="col">Date of Birth </th>
      <th scope="col">salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Ivanov</td>
      <td>Ivan</td>
      <td>31.12.1990</td>
      <td>10000</td>
    </tr>
     <tr>
      <th scope="row">2</th>
      <td>Ivanov</td>
      <td>Ivan</td>
      <td>31.12.1990</td>
      <td>10000</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ivanov</td>
      <td>Ivan</td>
      <td>31.12.1990</td>
      <td>10000</td>
    </tr>
  </tbody>
</table>
{% endblock %}